html {
    box-sizing: border-box;
    font-size: 62.5%    ;
  }
*, *:before, *:after {
box-sizing: inherit;
}
body {
    font-size: 16px;
    font-family: 'Raleway', 'opens sans';
    background-color: #000000;
    color: #ffffff;
}
a {
    color: #ffffff;
    text-decoration: none;
}
.container {
    width: 120rem; /*esto es igual a 1200px*/
}
.site_header {
    display: flex;
    justify-content: end;
    padding: 10px 10px;
}
.navigation {
    display: flex;
    margin: 0 auto;
    justify-content: space-around;
    align-items: end;
}
.navigation img {
    width: 80px;
    height: 80px;
}
.navegacion {
    margin-bottom: 20px;
}
.menu_principal a {
    font-weight: bold;
    padding-left: 20px;
}
.menu_principal a:hover {
    text-decoration: underline;
}
.hero-img {
    background-image: linear-gradient(
    rgba(0,0,0,0.5),
    rgba(0,0,0.5)),
    url("../img/bg-img.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.hero-text h1 {
    font-size: 100px;
    font-weight: 700;
}
.hero-text h1:hover {
    -webkit-text-stroke: 2px #ffffff;
    color: transparent;
}


